:root {
  --primary-color: white;
  --text-color: var(--primary-color);
  --bg-color: #2a2829;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 78px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 26px;
  font-weight: 300;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

a {
  font-size: 20px;
}

body {
  margin: 0;
}
